@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
body {
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

.nav {
  height: 10vh;
}
.nav__header {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 190px;
}
.nav__toggle {
  position: relative;
  z-index: 6;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
}
.nav__toggle--rotate {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.nav__list {
  display: none;
  text-align: left;
  padding: 1rem;
}
.nav__show--list {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #1c345e;
  z-index: 5;
}
.nav__item {
  padding: 1rem;
}
.nav__link {
  color: white;
  line-height: 2rem;
}
.nav__submenu {
  display: none;
}
.nav__submenu--show {
  display: block;
}

.topnav {
  display: flex;
  justify-content: end;
  gap: 0.6rem;
}
.topnav__icons {
  display: flex;
  gap: 0.3rem;
}
.topnav__icon {
  display: flex;
  font-size: 14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.topnav__icon--default {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
}
.topnav__icon--default:hover {
  background-color: white;
}

.topbar {
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.left-overlay {
  display: none;
}

.right-overlay {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  height: 100%;
  z-index: 1;
}
.right-overlay__content {
  position: absolute;
  bottom: 2%;
  right: 5%;
  color: #121a44;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.right-overlay__content__text {
  text-transform: uppercase;
}
.right-overlay__content__text--bold {
  font-weight: bold;
}
.right-overlay__hidden {
  opacity: 0;
}
.right-overlay__img {
  width: 1.5rem;
}
.right-overlay__triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  height: 100%;
}
.right-overlay__triangle--yellow {
  background-color: #f0c51a;
  clip-path: polygon(87.5% 75%, 100% 100%, 75% 100%);
  cursor: pointer;
}
.right-overlay__triangle--yellow:hover .right-overlay__hidden {
  opacity: 1;
}
.right-overlay__triangle--navy {
  background-color: #1c345e;
  clip-path: polygon(87.5% 75%, 100% 100%, 100% 75%);
}
.right-overlay__triangle--transparent {
  background-color: #1c345e;
  opacity: 0.7;
  clip-path: polygon(87.5% 75%, 100% 50%, 100% 75%);
}

.tagline {
  display: none;
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 2;
  text-transform: uppercase;
}
.tagline__generic {
  color: #f0c51a;
  font-size: 1.5rem;
}
.tagline__slogan {
  color: white;
  font-size: 3.6rem;
  font-weight: bold;
  animation-name: slideIn;
  animation-duration: 2s;
}
@keyframes slideIn {
  0% {
    opacity: 0.4;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.tagline__slogan:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 5%;
  width: 101%;
  height: 15px;
  background: #f0c51a;
}

.search-form {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.search-form__icon {
  width: 30px;
  height: 30px;
  border: 1px solid #f0c51a;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 0;
  color: #ffffff;
  background-color: transparent;
}
.search-form__icon:hover {
  background-color: #f0c51a;
}
.search-form__icon:focus {
  background-color: #f0c51a;
}
.search-form__icon:focus ~ .search-form__submit {
  visibility: visible;
  z-index: 1;
  width: 10px;
  height: 10px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}
.search-form__icon:focus ~ .search-form__input {
  width: 200px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: white;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.search-form__input {
  height: 30px;
  width: 30px;
  border-style: none;
  padding: 10px;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-left: 40px;
}
.search-form__input:focus {
  width: 200px;
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.search-form__submit {
  position: absolute;
  right: 0.5rem;
  bottom: 45%;
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  cursor: pointer;
}
.search-form:focus-within .search-form__icon {
  background-color: #f0c51a;
}
.search-form:focus-within .search-form__submit {
  visibility: visible;
  z-index: 1;
  width: 10px;
  height: 10px;
  position: absolute;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.home-bg-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: url("/assets/images/first.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  animation: home-bgImage-container 5s ease-in-out infinite alternate;
}
@keyframes home-bgImage-container {
  0% {
    background-image: url(/assets/images/first.jpg);
  }
  100% {
    background-image: url(/assets/images/second.jpg);
  }
}

@media screen and (min-width: 1025px) {
  .topbar {
    padding-left: 6rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .left-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    z-index: 1;
  }
  .left-overlay__shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    background-color: #1c345e;
  }
  .left-overlay__shape--pentagon {
    background: linear-gradient(to bottom, #121a44, #1c345e, #121a44);
    clip-path: polygon(75% 0%, 87.5% 25%, 50% 100%, 0% 100%, 0% 0%);
  }
  .left-overlay__shape--top {
    clip-path: polygon(75% 0%, 100% 0%, 87.5% 25%);
  }
  .left-overlay__shape--bottom {
    opacity: 0.7;
    clip-path: polygon(62.5% 75%, 75% 100%, 50% 100%);
  }
  .nav__center {
    display: flex;
    justify-content: space-between;
  }
  .nav__logo {
    width: 280px;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    gap: 1.5rem;
    position: relative;
  }
  .nav__item {
    padding: 0;
  }
  .nav__item:hover {
    box-shadow: 0 -4px 0 #f0c51a;
  }
  .nav__submenu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1c345e;
    width: 100%;
    opacity: 0.75;
    border-bottom: 5px solid #f0c51a;
    padding: 2.5rem;
  }
  .nav__submenu__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    gap: 1.4rem;
  }
  .nav__item--has-submenu:hover .nav__submenu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
