@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
body {
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

.nav {
  height: 10vh;
}
.nav__header {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 190px;
}
.nav__toggle {
  position: relative;
  z-index: 6;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
}
.nav__toggle--rotate {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.nav__list {
  display: none;
  text-align: left;
  padding: 1rem;
}
.nav__show--list {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #1c345e;
  z-index: 5;
}
.nav__item {
  padding: 1rem;
}
.nav__link {
  color: white;
}
.nav__submenu {
  display: none;
}
.nav__submenu--show {
  display: block;
}

.social-links {
  display: flex;
  justify-content: end;
  gap: 0.6rem;
}
.social-links__icon {
  display: flex;
  font-size: 14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social-links__icon--default {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
}
.social-links__icon--default:hover {
  background-color: white;
}
.social-links__icon--yellow {
  color: white;
  border: 1px solid #f0c51a;
}
.social-links__icon--yellow:hover {
  background-color: #f0c51a;
}

.topbar {
  padding: 1rem;
}

.home-bg-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: url("/assets/images/first.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
}

@media screen and (min-width: 1025px) {
  .topbar {
    padding-left: 6rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .nav__center {
    display: flex;
    justify-content: space-between;
  }
  .nav__logo {
    width: 280px;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    gap: 1.5rem;
    position: relative;
  }
  .nav__item {
    padding: 0;
  }
  .nav__item:hover {
    box-shadow: 0 -4px 0 #f0c51a;
  }
  .nav__submenu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1c345e;
    width: 100%;
    opacity: 0.75;
    border-bottom: 5px solid #f0c51a;
    padding: 2.5rem;
  }
  .nav__submenu__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    gap: 1.4rem;
  }
  .nav__item--has-submenu:hover .nav__submenu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
