@use "../abstracts/" as *;

.nav {
  height: 10vh;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 190px;
  }
  &__toggle {
    position: relative;
    z-index: 6;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    width: 50px;
    height: 50px;
  }
  &__toggle--rotate {
    transform: rotate(90deg);
    @include transition(0.5s);
  }
  &__list {
    display: none;
    text-align: left;
    padding: 1rem;
  }
  &__show--list {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: $primary-color;
    z-index: 5;
  }
  &__item {
    padding: 1rem;
  }
  &__link {
    color: white;
    line-height: 2rem;
  }
  &__submenu {
    display: none;
  }
  &__submenu--show {
    display: block;
  }
}
