@use "../abstracts" as *;

@include desktop {
  .topbar {
    padding-left: 6rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .left-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    z-index: 1;
    &__shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 700px;
      height: 100%;
      background-color: $primary-color;
      &--pentagon {
        background: linear-gradient(
          to bottom,
          $secondary-color,
          $primary-color,
          $secondary-color
        );
        clip-path: polygon(75% 0%, 87.5% 25%, 50% 100%, 0% 100%, 0% 0%);
      }
      &--top {
        clip-path: polygon(75% 0%, 100% 0%, 87.5% 25%);
      }
      &--bottom {
        opacity: 0.7;
        clip-path: polygon(62.5% 75%, 75% 100%, 50% 100%);
      }
    }
  }

  .nav {
    &__center {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      width: 280px;
    }
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
      gap: 1.5rem;
      position: relative;
    }
    &__item {
      padding: 0;
    }
    &__item:hover {
      box-shadow: 0 -4px 0 $primary-accent-color;
    }
    &__submenu {
      display: none;
      position: absolute;
      right: 0;
      background-color: $primary-color;
      width: 100%;
      opacity: 0.75;
      border-bottom: 5px solid $primary-accent-color;
      padding: 2.5rem;
    }
    &__submenu__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 150px;
      gap: 1.4rem;
    }
    &__item--has-submenu:hover .nav__submenu {
      display: block;
    }
  }

  .tagline {
    &__slogan {
      font-size: 3.6rem;
      &:after {
        height: 1rem;
      }
    }
  }
}
