@use "../abstracts" as *;

.search-form {
  width: fit-content;
  height: fit-content;
  position: relative;

  &__icon {
    width: 30px;
    height: 30px;
    border: 1px solid $primary-accent-color;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left: 0;
    color: #ffffff;
    background-color: transparent;

    &:hover {
      background-color: $primary-accent-color;
    }
    &:focus {
      background-color: $primary-accent-color;
    }
    &:focus ~ .search-form__submit {
      visibility: visible;
      z-index: 1;
      width: 10px;
      height: 10px;
      font-size: 1rem;
      background-color: transparent;
      border: none;
    }
    &:focus ~ .search-form__input {
      width: 200px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      background-color: white;
      transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
    }
  }

  &__input {
    height: 30px;
    width: 30px;
    border-style: none;
    padding: 10px;
    outline: none;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-left: 40px;
    &:focus {
      width: 200px;
      background-color: white;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }

  &__submit {
    position: absolute;
    right: 0.5rem;
    bottom: 45%;
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
    cursor: pointer;
  }

  &:focus-within &__icon {
    background-color: $primary-accent-color;
  }

  &:focus-within &__submit {
    visibility: visible;
    z-index: 1;
    width: 10px;
    height: 10px;
    position: absolute;
    font-size: 1rem;
    background-color: transparent;
    border: none;
  }
}
