@use "../abstracts/colors" as *;

.social-links {
  display: flex;
  justify-content: end;
  gap: 0.6rem;
  &__icon {
    display: flex;
    font-size: 14px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--default {
      color: $secondary-accent-color;
      border: 1px solid $secondary-accent-color;
      &:hover {
        background-color: white;
      }
    }
    &--yellow {
      color: white;
      border: 1px solid $primary-accent-color;
      &:hover {
        background-color: $primary-accent-color;
      }
    }
  }
}
